<div class="modal-header">
    <div *ngIf="dataMemberDetail.memberId !== null">
        <h4 class="modal-title">Edit member details</h4>
    </div>
    <div *ngIf="dataMemberDetail.memberId === null">
        <h4 class="modal-title">Create new member</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">
        <span aria-hidden="true">&times;</span>
    </button>
</div> 
<form [formGroup]="formAddEdit" (ngSubmit)="onSubmit()">
<div class="modal-body">
    <div class="text-left">
        <div class="row" *ngIf="dataMemberDetail.memberId !== null">
            <div class="col-3">
                <label>Member ID :</label>
            </div>
            <div class="col-4 mb-2">
                <input type="text" class="form-control" formControlName="memberId" placeholder="Member ID">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-2">
                <label>First name <span class="text-danger">*</span> :</label>
                <input type="text" class="form-control" formControlName="fname" placeholder="First name">
            </div>
            <div class="col-6 mb-2">
                <label>Last name <span class="text-danger">*</span> :</label>
                <input type="text" class="form-control" formControlName="lname" placeholder="Last name">
            </div>
        </div>
        <div *ngIf="formAddEdit.get('fname').errors && (formAddEdit.get('fname').dirty || formAddEdit.get('fname').touched)" class="alert alert-danger" role="alert">
            <div *ngIf="formAddEdit.get('fname').errors.required">
                First name is required.
            </div>
        </div>
        <div *ngIf="formAddEdit.get('lname').errors && (formAddEdit.get('lname').dirty || formAddEdit.get('lname').touched)" class="alert alert-danger" role="alert">
            <div *ngIf="formAddEdit.get('lname').errors.required">
                Last name is required.
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-2">
                <label>Phone number <span class="text-danger">*</span> :</label>
                <input type="tel" class="form-control" formControlName="tel" placeholder="ex. 0899999999" maxlength="10">
            </div>
            <div class="col-8 mb-2">
                <label>Email <span class="text-danger">*</span> :</label>
                <input type="email" class="form-control" formControlName="email" placeholder="example@domain.com">
            </div>
        </div>
        <div *ngIf="formAddEdit.get('tel').errors && (formAddEdit.get('tel').dirty || formAddEdit.get('tel').touched)" class="alert alert-danger" role="alert">
            <div *ngIf="formAddEdit.get('tel').errors.required">
                Phone number is required.
            </div>
        </div>
        <div *ngIf="formAddEdit.get('email').errors && (formAddEdit.get('email').dirty || formAddEdit.get('email').touched)" class="alert alert-danger" role="alert">
            <div *ngIf="formAddEdit.get('email').errors.required">
                Email is required.
            </div>
            <div *ngIf="formAddEdit.get('email').errors.email">
                Please enter valid email.
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" style="width: 80px;" [disabled]="formAddEdit.invalid">Submit</button>
    <button type="button" class="btn btn-secondary" style="width: 80px;" (click)="cancel()">Cancel</button>
</div>
</form>
