<nav class="navbar navbar-light fixed-top" style="background-color: #e3f2fd;">
    <h4 class="navbar-brand">Project Test</h4>
    <ul class="nav">
        <li class="nav-item">
            <a [routerLink]="['/home']" routerLinkActive="is-active">Home</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/login']" routerLinkActive="is-active">Login</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/register']" routerLinkActive="is-active">Register</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/memberlist']" routerLinkActive="is-active">Member List</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <a href="#" data-toggle="dropdown" aria-haspopup="true">User Nicknames</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/userprofile']">Edit Profile</a>
                    </div>
            </div>
            
        </li>
        <li class="nav-item">
            <a [routerLink]="['']" routerLinkActive="is-active">Logout</a>
        </li>     
    </ul>
</nav>
