<div class="center">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h4>User Register</h4><br>
            <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="input-group mb-3 col-6">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="nickname"> <fa-icon [icon]="iconName"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control" formControlName="nickname" placeholder="Nickname" aria-describedby="nickname" required>
                    </div>
                    <div *ngIf="formRegister.get('nickname').errors && (formRegister.get('nickname').dirty || formRegister.get('nickname').touched)" class="alert alert-danger" role="alert">
                        <div *ngIf="formRegister.get('nickname').errors.required">
                            Nickname is required.Please enter your nickname.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3 col">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="username"> <fa-icon [icon]="iconUser"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control" formControlName="username" placeholder="Create Username" aria-describedby="username" required>
                    </div>
                    <div class="input-group mb-3 col">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="password"> <fa-icon [icon]="iconPassword"></fa-icon></span>
                        </div>
                        <input type="password" class="form-control" formControlName="password" placeholder="Create Password" aria-label="Password" aria-describedby="password" required>
                    </div>
                </div>
                <div *ngIf="formRegister.get('username').errors && (formRegister.get('username').dirty || formRegister.get('username').touched)" class="alert alert-danger" role="alert">
                    <div *ngIf="formRegister.get('username').errors.required">
                        Username is required.Please enter your username.
                    </div>
                </div>
                <div *ngIf="formRegister.get('password').errors && (formRegister.get('password').dirty || formRegister.get('password').touched)" class="alert alert-danger" role="alert">
                    <div *ngIf="formRegister.get('password').errors.required">
                        Password is required.Please enter your Password.
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="email"> <fa-icon [icon]="iconEmail"></fa-icon></span>
                    </div>
                    <input type="text" class="form-control" formControlName="email" placeholder="Email" aria-describedby="email">
                </div>
                <div *ngIf="formRegister.get('email').errors && (formRegister.get('email').dirty || formRegister.get('email').touched)" class="alert alert-danger" role="alert">
                    <div *ngIf="formRegister.get('email').errors.required">
                        Email is required.Please enter your email.
                    </div>
                    <div *ngIf="formRegister.get('email').errors.email">
                        Please enter valid email.
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="formRegister.invalid">Register</button><br>
                <div *ngIf="isSignUpFailed" class="alert alert-danger" role="alert">{{errorMessage}}</div>
                <hr>
                <div class="text-right" style="font-size: small;">Already have an account? | <a [routerLink]="['/login']">LOGIN HERE</a></div>               
            </form>
        </div>
    </div>
</div>

