<div class="modal-header">
    <h4 class="modal-title">Member details</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="padding-left: 50px;">
    <div class="text-left">
        <div class="row">
            <div class="col-4">
                <label>Member ID :</label>
            </div>
            <div class="col-8">
                {{memberDetail?.memberId}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label>First name :</label>
            </div>
            <div class="col-8">
                {{memberDetail?.fname}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label>Last name :</label>
            </div>
            <div class="col-8">
                {{memberDetail?.lname}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label>Email :</label>
            </div>
            <div class="col-8">
                {{memberDetail?.email}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label>Phone number :</label>
            </div>
            <div class="col-8">
                {{memberDetail?.tel}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" style="width: 120px;" (click)="openModalEdit()">Edit Detail</button>
</div>
